.page__title {
  text-align: left;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 16px;
}

.settings__login--wrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.settings__login--img {
  color: transparent;
  height: 100%;
  width: 100%;
}

.settings__login--text {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  text-align: center;
  margin-bottom: 16px;
}

.settings__login--btn {
  width: 100px;
}

.settings__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 24px;
}

.settings__content:last-child {
  border-bottom: none;
}

.settings__subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #032b41;
}

.settings__text {
  color: #032b41;
}
