.plan {
  width: 100%;
}

.plan__header--wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 48px;
  margin-bottom: 24px;
}

.plan__header--wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #032b41;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem;
}

.plan__header {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  padding: 0 24px;
}

.plan__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.plan__subtitle {
  font-size: 20px;
  margin-bottom: 32px;
}

.plan__img--wrapper {
  display: flex;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
  border-radius: 180px 180px 0 0;
  overflow: hidden;
}

.plan__img {
  color: transparent;
  width: 100%;
  height: 100%;
}

.plan__features--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  grid-gap: 24px;
  gap: 24px;
  max-width: 800px;
  margin: 0 auto 56px;
}

.plan__feature--icon {
  display: flex;
  justify-content: center;
  color: #032b41;
  margin-bottom: 12px;
}

.plan__feature--icon > svg {
  height: 60px;
  width: 60px;
}

.plan__feature--text {
  color: #394547;
  line-height: 1.5;
}

.plan__card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f1f6f4;
  border: 4px solid #bac8ce;
  border-radius: 4px;
  cursor: pointer;
  max-width: 680px;
  margin: 0 auto;
}

.plan__card--active {
  border: 4px solid #2be080;
}

.plan__card--circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan__card--dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

.plan__card--title {
  font-size: 18px;
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--price {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--text {
  color: #6b757b;
  font-size: 14px;
}

.plan__card--sep {
  font-size: 14px;
  color: #6b757b;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 240px;
  margin: 24px auto;
}

.plan__card--sep::before,
.plan__card--sep::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.plan__cta {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.plan__disclaimer {
  font-size: 12px;
  color: #6b757b;
  text-align: center;
}
